.flex-center{
  height: 100%;
  background-color: var(--dirtyWhite);
  background-image: url('http://www.mirunaandriesei.ro/floral-app/loader.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



ion-spinner{
  color:var(--pink);
}
