.flex-center{
  height: 100%;
  background-color: var(--dirtyWhite);
  background-image: url('http://www.mirunaandriesei.ro/floral-app/loader.png');
  background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-spinner{
  color:var(--pink)
}
