h1{color:var(--brown);font-size: 40px;font-weight: 400;width: 100%;}


ion-item{--background: transparent;margin: 20px 0;}
ion-list{--background: transparent;}
ion-label{--color: var(--brown);}
ion-input{--background: #fff;border-radius: 8px;--color: var(--brown);--padding:20px}
.list-ios{background: transparent;}


.form ion-button{
  margin: 20px 5px 0 20px;
}
