<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Kukka Pibea</h1>
</ion-toolbar>

<ion-content fullscreen color="tertiary" class="ion-padding" scroll-y="false">
  <div class="categoriesBtn" color="primary">
    <app-category-button
      spanText="Flowers"
      image="flower2.png"
    ></app-category-button>

    <app-category-button
      spanText="Cards"
      image="cards.png"
    ></app-category-button>

    <app-category-button
      spanText="Cards"
      image="candles.png"
    ></app-category-button>

    <app-category-button
      spanText="Funeral"
      image="death-and-funeral.png"
    ></app-category-button>
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="../../../assets/images/s4.jpg" />
        <div class="productText">
          <h2>Pink bouquet</h2>
          <p>18 €</p>
        </div>
        <div class="productAdd">
          <button ion-button>+</button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../../assets/images/s2.jpg" />
        <h2>Pink bouquet</h2>
        <p>18€</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../../assets/images/s3.jpg" />
        <h2>Pink bouquet</h2>
        <p>18E</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../../assets/images/s1.jpg" />
        <h2>Pink bouquet</h2>
        <p>18E</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
