<ion-toolbar color="tertiary">
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <h1>Kukka Pibea</h1>
</ion-toolbar>

<ion-content fullscreen color="tertiary" class="ion-padding" scroll-y="false">
  <div class="categoriesBtn" color="primary">
    <app-category-button
      spanText="Flowers"
      image="flower2.png"
    ></app-category-button>

    <app-category-button
      spanText="Cards"
      image="cards.png"
    ></app-category-button>

    <app-category-button
      spanText="Cards"
      image="candles.png"
    ></app-category-button>

    <app-category-button
      spanText="Funeral"
      image="death-and-funeral.png"
    ></app-category-button>
  </div>

  <ion-slides>
    <ion-slide *ngFor="let p of products">
      <div class="slide">
        <img src="../../../assets/images/products/{{p.picture}}" />
        <div class="productText">
          <h2>{{ p.name }}</h2>
          <p>{{ p.price | currency: 'USD' }}</p>
        </div>
        <div class="productAdd">
          <button ion-button (click)="addToCart(p)">+</button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click) = "openCart()" #cart>
      <div class="cart-lenght">{{cartItemCount | async }}</div>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
    </ion-fab-list>
  </ion-fab>
</ion-content>


