<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>
      <ion-slide>
        <div class="slide">
          <img src="../../../assets/images/s4.jpg" />
          <h2>Pink bouquet</h2>
          <p>18E</p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="../../../assets/images/s3.jpg" />
        <h2>What is Ionic?</h2>
        <p>
          <b>Ionic Framework</b> is an open source SDK that enables developers
          to build high quality mobile apps with web technologies like HTML,
          CSS, and JavaScript.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../../assets/images/s2.jpg" />
        <h2>What is Appflow?</h2>
        <p>
          <b>Appflow</b> is a powerful set of services and features built on top
          of Ionic Framework that brings a totally new level of app development
          agility to mobile dev teams.
        </p>
      </ion-slide>

      <ion-slide>
        <img src="../../../assets/images/s1.jpg" />
        <h2>Ready to Play?</h2>
        <ion-button fill="clear"
          >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>
